<!doctype html>
<html>
  <style>
    {
      box-sizing: border-box;
    }

    .column {
      float: center;
      width: 80%;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <head>
    <meta charset= 'utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <% organization_info = OrganizationInfo.new(@procedure.id) %>
  </head>
  <body onload="number_pages()">
    <br>
    <br>
    <br>
      <div class= "row">
        <div style= "display:inline-block; vertical-align:middle;" align="left">
          <img src="https://staging.api.printercloud.com.br/img/flow-logo.svg" alt="logo" width="18">
        </div>
        <div style= "display:inline-block;">
          <p style= "font-size: small; margin-left: 5px">
            <b>Printer Flow</b>
          </p>
        </div>
        <div class="column" style= "display:inline-block; text-align: center;">
          <p style= "font-size: small;">
            <%= "#{@procedure.name}, #{@procedure.internal_process_number}"%><br>
            <%= organization_info.footer %></span>
          </p>
        </div>
      </div>
  </body>
</html>
