<!doctype html>
<html>
<head>
  <meta charset= 'utf-8' />
  <% @summary = Summary.new(@procedure.id) %>
  <% @sections = @summary.sections %>
</head>
<body>
  <h1 align='center' style='padding: 0.5em; font-size: 20px;'>Lista de anexos</h1>
  <div>
    <% @sections.each do |items| %>
      <div>
        <h2 style="font-size: 15px;"><%= items.first.dig(:reference) %></h2>
        <% items.each do |item| %>
          <%= item.dig(:title) %> - página &nbsp;<b><%= item.dig(:start_page) %></b> à <b><%= item.dig(:end_page) %></b><br>
        <% end %>
      </div><br>
    <% end %>
  </div>
</body>
