<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @documents.empty? %>
      <p>Não houveram documentos corrompidos na última semana 🎉.</p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Instituição</th>
            <th>id</th>
            <th>Documento</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @documents.map do |document| %>
            <tr>
              <td><%= @document.directory&.organization&.corporate_name %></td>
              <td><%= @document.id %></td>
              <td><%= @document.path + '/' + @document.original_filename %></td>
              <td><%= @document.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </body>
</html>
