<!doctype html>
<html>
<head>
  <meta charset= 'utf-8' />
  <style>
    div {
      display: inline;
    }
  </style>
</head>
<body>
   <% @task_attachment = Flow::TaskAttachment.find(@signature.task_attachment_id) %>
  <br>
  <div>
    <div style="border: 1px solid #E0E0E0; padding: 5px;">
      <div>
        <img src="https://staging.api.printercloud.com.br/img/flow-logo.svg" alt="logo" width="18"/>
      </div>

      <div style="margin-left: 0.5em;"> 
        <b style="font-size: 12px">Flow Signature</b>
      </div>

      <div style="margin-left: 1.5em;">
        <span style="font-size: 15px;"> 
          <% if @task_attachment.task_attachment_signatures.where(status: :signed).count == 0  %>
            Esse documento, <%= @signature.attachment.name %>, foi assinado eletrônicamente dia <%= @signature.signed_at.strftime("%d/%m/%Y") %> <%= @signature.signed_at.in_time_zone("America/Sao_Paulo").strftime("às %H:%M") %>, por <%= @signature.user.name %>.
          <% else %>
            Esse documento foi assinado eletrônicamente, por múltiplos autores, verificação na página de assinaturas.
          <% end %>
        </span>
      </div>
    </div>
  </div>​
</body>
