AWS_BUCKET=printer-cloud-develop
PRINTER_CLOUD_URL=http://localhost:80
PRINTER_FLOW_URL=http://localhost:4000
RAILS_ENV=development
RAILS_MASTER_KEY=08a45fb3b9d04d093b0551ae0de10553
RAILS_SERVE_STATIC_FILES=enabled
SENDER_ID=1
DRIVER_ID=1
PRINTER_CLOUD_USER_ID=1
EXTERNAL_USER_ID=1
SOLR_URL=http://host.docker.internal:8983
SOLR_COLLECTION=documents_v3
SUPPORT_EMAIL=suporte@printercloud.com.br
